<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Fabian Widukind Penzkofer
        link(rel="stylesheet", href="css/style.css", type="text/css")
        //link(rel="stylesheet", href="//basehold.it/24")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js") 
    body
        .grid
            .topbar
                .logo
                    h1 Fabian Widukind Penzkofer
                nav
                    ul.nav-mobile
                        li
                            a(href="index.html") Jetzt
                        li 
                            a(href="feed-1.html") <strong>Werke</strong>
                        ul.werke.werke-desktop
                            li
                                a(href="feed-1.html") 
                                <strong>Feed I</strong>
                            li
                                a(href="feed-2.html") Feed II
                            li
                                a(href="schwarz.html") Schwarz
                            li
                                a(href="mathe.html") ℑ⊆[IMG_0010;IMG_9990]
                            li 
                                a(href="orte-tret.html") Orte und Tretmühlen
                            li 
                                a(href="schatten.html") Schatten im Licht
                        li
                            a(href="vita.html") Vita
                        li.kontakt
                            a(href="impressum.html") Kontakt <br>Datenschutz<br>Impressum

            section#werke
                .werke-content

                    article.art
                        img(src="pics/feed1/Abschnitt_04.jpg")
                        ul.art-desc
                            li Abschnitt 4
                            li Digitaldruck auf Papier
                            li 29,7x42cm
                            li 2018
                    article.art
                        img(src="pics/feed1/Abschnitt_06.jpg")
                        ul.art-desc
                            li Abschnitt 6
                            li Digitaldruck auf Papier
                            li 29,7x42cm
                            li 2018
                    article.art
                        img(src="pics/feed1/Abschnitt_12.jpg")
                        ul.art-desc
                            li Abschnitt 12
                            li Digitaldruck auf Papier
                            li 29,7x42cm
                            li 2018
                    article.art
                        img(src="pics/feed1/Abschnitt_13.jpg")
                        ul.art-desc
                            li Abschnitt 13
                            li Digitaldruck auf Papier
                            li 29,7x42cm
                            li 2018
                    article.art
                        img(src="pics/feed1/Abschnitt_23.jpg")
                        ul.art-desc
                            li Abschnitt 23
                            li Digitaldruck auf Papier
                            li 29,7x42cm
                            li 2018

        script(src='js/script.js')