<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Fabian Widukind Penzkofer
        link(rel="stylesheet", href="css/style.css", type="text/css")
        //link(rel="stylesheet", href="//basehold.it/24")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js") 
    body
        .grid
            .topbar
                .logo
                    h1 Fabian Widukind Penzkofer
                nav
                    ul.nav-mobile
                        li
                            a(href="index.html") Jetzt
                        li 
                            a(href="feed-1.html") Werke
                        li
                            a(href="vita.html") Vita
                        li.kontakt
                            a(href="impressum.html") Kontakt <br>Datenschutz<br>Impressum

                    

            section#rosanna

                .content.rosanna-content
                    video(src="video/MVI_0886.mp4" controls autoplay)

        script(src='js/script.js')