<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Fabian Widukind Penzkofer
        link(rel="stylesheet", href="css/style.css", type="text/css")
        //link(rel="stylesheet", href="//basehold.it/24")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js") 
    body
        .grid
            .topbar
                .logo
                    h1 Fabian Widukind Penzkofer
                nav
                    ul.nav-mobile
                        li
                            a(href="index.html") Jetzt
                        li 
                            a(href="feed-1.html") <strong>Werke</strong>
                        ul.werke
                            li
                                a(href="feed-1.html") Feed I
                            li
                                a(href="feed-2.html") Feed II
                            li
                                a(href="schwarz.html") Schwarz
                            li
                                a(href="mathe.html") ℑ⊆[IMG_0010;IMG_9990]
                            li 
                                a(href="orte-tret.html") Orte und Tretmühlen
                            li 
                                a(href="schatten.html") <strong>Schatten im Licht</strong>
                        li
                            a(href="vita.html") Vita
                        li.kontakt
                            a(href="impressum.html") Kontakt <br>Datenschutz<br>Impressum

            section#werke
                .werke-content

                    article.art
                        img(src="pics/schatten/Fabi_Penz_3++.jpg")
                        ul.art-desc
                            li (Ohne Titel)
                            li Montage aus Glas, Folie, Acrylfarbe und Papier
                            li 30x40cm
                            li 2014
                    article.art
                        img(src="pics/schatten/Fabi_Penz_4++.jpg")
                        ul.art-desc
                            li (Ohne Titel)
                            li Montage aus Glas, Folie, Acrylfarbe und Papier
                            li 30x40cm
                            li 2014
                    article.art
                        img(src="pics/schatten/Fabi_Penz_5++.jpg")
                        ul.art-desc
                            li (Ohne Titel)
                            li Montage aus Glas, Folie, Acrylfarbe und Papier
                            li 30x40cm
                            li 2014
                    article.art
                        img(src="pics/schatten/Fabi_Penz_6++.jpg")
                        ul.art-desc
                            li (Ohne Titel)
                            li Montage aus Glas, Folie, Acrylfarbe und Papier
                            li 30x40cm
                            li 2014

        script(src='js/script.js')