<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Fabian Widukind Penzkofer
        link(rel="stylesheet", href="css/style.css", type="text/css")
        //link(rel="stylesheet", href="//basehold.it/24")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js") 
    body
        .grid
            include includes/nav.pug
                        

            section#vita
                img.fabi(src="pics/fabi.jpg")
                ul.cv
                    li Staatliche akademie der bildenden k체nste Stuttgart
                    li Klasse Professor reto boller
                    li klasse professor andreas opiolka A.m. cindy cordt
                    li Miterfinder von ROSANNAWIDUKIND
                    li Mitbegr체nder von Bohnemann und Smartbeats
                    li Teil von Tristan Reverb

                .content.vita-content
                    h4 15.09 - 07.10.2018
                    article.title
                        h2 placetobe
                        h3 galerie hausgeburt | Stuttgart
                    ul.artists.hidden
                        li Eva Dittrich
                        li Fabian w. Penzkofer
                        li Jasmin Sch채dler
                        li Ivan Syrov
                        li Helen Weber
                    .gallery.hidden
                        img(src="https://picsum.photos/250/200/?random")
                        img(src="https://picsum.photos/140/280/?random")
                        img(src="https://picsum.photos/240/280/?random")
                .content.vita-content
                    h4 15.09 - 07.10.2018
                    article.title
                        h2 schatten im licht
                        h3 Cafe De Ville, Schorndorf
                    ul.artists.vita-artists
                        li Eva Dittrich
                        li Fabian w. Penzkofer
                        li Jasmin Sch채dler
                        li Ivan Syrov
                        li Helen Weber
                    .gallery
                        img(src="https://picsum.photos/200/200/?random")
                        img(src="https://picsum.photos/300/200/?random")
                        img(src="https://picsum.photos/500/300/?random")
                        
        script(src='js/script.js')