<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Fabian Widukind Penzkofer
        link(rel="stylesheet", href="css/style.css", type="text/css")
        //link(rel="stylesheet", href="//basehold.it/24")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js") 
    body
        .grid
            include includes/nav.pug
            section#werke
                .werke-content

                    article.art
                        img(src="https://picsum.photos/600/500/?random")
                        ul.art-desc
                            li f3
                            li Digitaldruck auf Backprintfolie
                            li 21x21cm
                            li 2018
                    article.art
                        img(src="https://picsum.photos/800/300/?random")
                        ul.art-desc
                            li f2
                            li Digitaldruck auf Backprintfolie
                            li 21x21cm
                            li 2018