<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Fabian Widukind Penzkofer
        link(rel="stylesheet", href="css/style.css", type="text/css")
        //link(rel="stylesheet", href="//basehold.it/24")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js") 
    body
        .grid
            .topbar
                .logo
                    h1 Fabian Widukind Penzkofer
                nav
                    ul.nav-mobile
                        li
                            a(href="index.html") Jetzt
                        li 
                            a(href="werke.html") <strong>Werke</strong>
                        ul.werke
                            li
                                a(href="werke.html") <strong>Feed II</strong>
                            li
                                a(href="feed-1.html") Feed I
                            li
                                a(href="schwarz.html") Schwarz
                            li
                                a(href="mathe.html") Mathe
                            li 
                                a(href="orte-tret.html") Orte und Tretmühlen
                        li
                            a(href="vita.html") Vita
                        li.kontakt
                            a(href="impressum.html") Kontakt/<br>Impressum

            section#werke
                .werke-content

                    article.art
                        img(src="https://picsum.photos/600/500/?random")
                        ul.art-desc
                            li f3
                            li Digitaldruck auf Backprintfolie
                            li 21x21cm
                            li 2018
                    article.art
                        img(src="https://picsum.photos/800/300/?random")
                        ul.art-desc
                            li f2
                            li Digitaldruck auf Backprintfolie
                            li 21x21cm
                            li 2018