.topbar
    .logo
        h1 Fabian Widukind Penzkofer
    nav
        ul.nav-mobile
            li
                a(href="index.html") Jetzt
            li 
                a(href="index.html") Werke
                    ul.werke.hidden
                        li
                            a(href="index.html") Feed II
                        li
                            a(href="index.html") Feed I
                        li
                            a(href="index.html") Schwarz
                        li
                            a(href="index.html") Mathe
                        li 
                            a(href="index.html") Orte und Tretmühlen
            li
                a(href="vita.html") Vita
            li
                a(href="index.html") Impressum
                    