.topbar
    .logo
        h1 Fabian Widukind Penzkofer
    nav
        ul.nav-mobile
            li
                a(href="index.html") Jetzt
            li 
                a(href="werke.html") Werke
            ul.werke
                li
                    a(href="werke.html") Feed II
                li
                    a(href="feed-1.html") Feed I
                li
                    a(href="schwarz.html") Schwarz
                li
                    a(href="mathe.html") Mathe
                li 
                    a(href="orte-tret.html") Orte und Tretmühlen
            li
                a(href="vita.html") Vita
            li.kontakt
                a(href="impressum.html") Kontakt/<br>Impressum

        
                    